p,
span,
button {
  color: white;
  display: block;
}

p {
  background-color: green;
}

span {
  background-color: red;
}

button {
  background-color: blue;
}

.a::before {
  content: '[.a]';
  background: black;
  margin-right: 1rem;
}

.b::after {
  content: '[.b]';
  background: black;
  margin-left: 1rem;
}
